{% extends "PlanningBundle::layout.html.twig" %}

{% block title %}PlanningBundle:Location:roomList{% endblock %}

{% block content %}
<h1>Welcome to the Location:roomList page</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Nom salle</th>
        <th>Nom site</th>
        <th>Addresse</th>
        <th>Action</th>
    </tr>
    </thead>
{% for room in rooms %}
<tr>
    <td>{{ room.id }}</td>
    <td>{{ room.name }}</td>
    <td>{{ room.site.name }}</td>
    <td>{{ room.site.street~" "~room.site.zipcode~" "~room.site.city }}</td>
    <td>
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-primary btn-xs" href="{{ path("room",{id:room.id})  }}">Afficher une classe</a>
            <a class="btn btn-default btn-xs" href="{{ path('edit_room', {id : room.id})  }}">Editer une classe</a>
        </div>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
