{% extends 'PlanningBundle::layout.html.twig' %}

{% set column_width = 100 / 7 %}
{% block content %}

    {% set previousmonth = time %}
    {% set nextmonth = time %}
    {% set previousmonth = previousmonth|date_modify("-1 month") %}
    {% set nextmonth = nextmonth|date_modify("+1 month") %}

    <div>
        <div class="table-responsive">
        <table class="table table-bordered" id="planning">
            <thead>
            <tr>
                <th class="center">
                <span class="pull-left">
                    <a class="btn btn-default btn-xs" href="{{ path('planning_month', {
                    month : previousmonth|date('m'), year: previousmonth|date('Y')
                    }) }}">&lsaquo; Mois précédent</a>
                </span>
                </th>
                <th colspan="5">{{ time|date('F')|trans }} {{ time|date('Y') }}</th>
                <th>
                <span class="pull-right">
                    <a class="btn btn-default btn-xs" href="{{ path('planning_month', {
                    month : nextmonth|date('m'), year: nextmonth|date('Y')
                    }) }}">Mois suivant &rsaquo;</a>
                </span>
                </th>
            </tr>
            <tr>
                <th>Dimanche</th>
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
                <th>Samedi</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% set daysInMonth = time|date('t') %}
                {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                {% set dow = startDow %}
                {% for day in range(1,daysInMonth) %}
                {% if loop.first and startDow != 0 %}
                    <td colspan="{{ startDow }}"></td>
                {% endif %}
                <td {% if service.holidayOn(day, time|date('m'), time|date('Y')) is not null %}class="bg-info" {% endif %}>
                    <div>
                        <div>
                            {{ day }}
                            {% if service.holidayOn(day, time|date('m'), time|date('Y')) is not null %}
                                - <i>{{ service.holidayOn(day, time|date('m'), time|date('Y')).name }}</i>
                            {% endif %}

                            <div class="btn-group btn-group-xs">
                                {% if schedules[ time|date('Y-m-') ~ day ] is defined %}
                                    {% set promoOn = [] %}
                                    {% for schedule in schedules[ time|date('Y-m-') ~ day ] %}


                                        {% if schedule.promotion is defined and schedule.promotion.id not in promoOn %}
                                            <a class="btn btn-default btn-xs schedule" style="background-color: {% if schedule.promotion is defined %}{{ schedule.promotion.color }}{% endif %}" href="#promo-{{ schedule.promotion.id }}-{{ schedule.datetime|date('d') }}">
                                                <span class="glyphicon glyphicon-resize-full"></span>
                                            </a>
                                            {% set promoOn = promoOn|merge([schedule.promotion.id]) %}
                                        {% elseif schedule.students is defined %}
                                            <a class="btn btn-default btn-xs schedule"  href="#schedule-{{ schedule.id }}">
                                                <span class="glyphicon glyphicon-resize-full"></span>
                                            </a>
                                        {% endif %}



                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>


                    </div>
                </td>
                {% if loop.last and dow != 6 %}
                    <td colspan="{{ 6 - dow }}">&nbsp;</td>
                {% endif %}
                {% if dow == 6 %}
                {% set dow = 0 %}
            </tr>
            <tr>
                {% else %}
                    {% set dow = dow + 1 %}
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
        </div>
        {% for schedule_one_day in schedules %}
            {% set promoOn = [] %}
            {% for schedule in schedule_one_day %}
                {% if schedule.promotion is defined and schedule.promotion.id not in promoOn %}

                    <div class="schedule-info" id="promo-{{ schedule.promotion.id }}-{{ schedule.datetime|date('d') }}">
                        <div class="well">


                            <h1>
                                {{ schedule.datetime|date('d/m/Y') }} : {{ schedule.promotion.name }}
                                <a href="#" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
                            </h1>

                            {% set time_9 = schedule.datetime %}
                            {% set time_9 = time_9|date_modify('08:30') %}
                            {% set time_18 = schedule.datetime %}
                            {% set time_18 = time_18|date_modify('18:30') %}


                            {% set planning = schedule.promotion.scheduleFor(schedule.datetime) %}
                            {% set planning_simple = [] %}
                            {% for time, schedule_day in planning %}
                                {% if loop.first %}
                                    {% set planning_simple = planning_simple|merge( [  { 'start':time_9.timestamp, 'end': time }  ] ) %}
                                {% endif %}
                                {% set planning_simple = planning_simple|merge([{ 'start':time, 'end':time+schedule_day.duration*60, 'schedule':schedule_day } ]) %}



                                {% if loop.last %}
                                    {% set planning_simple = planning_simple|merge( [  { 'start':time+schedule_day.duration*60, 'end': time_18.timestamp }  ] ) %}
                                {% else %}
                                    {% set planning_simple = planning_simple|merge( [  { 'start':time+schedule_day.duration*60, 'end': planning[ planning|keys[loop.index0 +1] ].datetime.timestamp }  ] ) %}
                                {% endif %}
                            {% endfor %}

                            <div class="progress-group">

                            <div class="progress">
                                {% set nb_schedule = 0 %}
                                {% for planning in planning_simple %}
                                    {% if planning.schedule is defined %}
                                        {% set nb_schedule = nb_schedule +1 %}
                                    {% endif %}
                                    {% if (planning.end - planning.start) > 0 %}
                                        <div class="progress-bar progress-bar-transparent {% if planning.schedule is defined %}progress-time{% endif %}" role="progressbar"
                                             style="width: {{ (planning.end - planning.start) * (100/ (time_18|date('U')-time_9|date('U')) ) }}%;"
                                                >
                                            {% if planning.schedule is defined %}
                                                <span class="pull-left text-muted hidden-xs">
                                            &nbsp;{{ planning.schedule.datetime|date('H:i') }}
                                        </span>
                                                <span style="color: #000000">
                                                    {% if (planning.schedule.duration // 60) > 0  %}
                                                        {{ (planning.schedule.duration // 60) }} h
                                                    {% endif %}
                                                    {% if (planning.schedule.duration % 60) > 0  %}
                                                        {{ (planning.schedule.duration % 60) }} minutes
                                                    {% endif %}
                                                </span>

                                                <span class="pull-right text-muted hidden-xs">
                                            {{ planning.schedule.datetime|date_modify('+'~planning.schedule.duration*60~" seconds")|date('H:i') }}&nbsp;
                                        </span>

                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="progress">
                                {% set nb_schedule = 0 %}
                                {% for planning in planning_simple %}
                                    {% if planning.schedule is defined %}
                                        {% set nb_schedule = nb_schedule +1 %}
                                    {% endif %}
                                    {% if (planning.end - planning.start) > 0 %}
                                <div class="progress-bar {% if planning.schedule is not defined %} progress-bar-transparent {% elseif nb_schedule % 2 == 0 %} progress-bar-info {% endif %}" role="progressbar"
                                     style="width: {{ (planning.end - planning.start) * (100/ (time_18|date('U')-time_9|date('U')) ) }}%;"
                                >
                                    {% if planning.schedule is defined %}
                                        {#<span class="pull-left text-muted hidden-xs">#}
                                            {#&nbsp;{{ planning.schedule.datetime|date('H:i') }}#}
                                        {#</span>#}
                                        <a class="btn btn-xs btn-default" href="#schedule-{{ planning.schedule.id }}">{{ planning.schedule.course.name }}</a>

                                        {#<span class="pull-right text-muted hidden-xs">#}
                                            {#{{ planning.schedule.datetime|date_modify('+'~planning.schedule.duration*60~" seconds")|date('H:i') }}&nbsp;#}
                                        {#</span>#}

                                    {% endif %}
                                </div>
                                        {% endif %}
                                {% endfor %}
                            </div>

                            </div>



                        </div>
                    </div>

                    {% set promoOn = promoOn|merge([schedule.promotion.id]) %}

                {% endif %}


                <div class="schedule-info" id="schedule-{{ schedule.id }}">
                    <div class="well">
                        <h1>
                            {% if schedule.promotion is defined %}C'est un cours <a class="btn btn-info btn-xs" href="#promo-{{ schedule.promotion.id }}-{{ schedule.datetime|date('d') }}">Retour au planning du jour</a> {% elseif schedule.students %}C'est un oral{% endif %}
                            <a href="#" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
                        </h1>

                        <dl>
                            <dt>Date</dt> <dd>{{ schedule.datetime|date }}</dd>
                            <dt>Room</dt> <dd>{{ schedule.room.name }}</dd>
                            <dt>Course</dt> <dd>{{ schedule.course.name }}</dd>
                        </dl>

                    </div>
                </div>
        {% endfor %}
        {% endfor %}


    </div>



{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        div.progress-group > div.progress {
            margin: 0;
            border-radius: 0;
        }

        div.progress-group > div.progress:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

        }

        div.progress-group > div.progress:not(:last-child) {
            box-shadow: none;
            border-bottom: 1px solid #e5e5e5;
        }

        div.progress-group > div.progress:not(:last-child) > div.progress-bar {
            box-shadow: none;
        }

        div.progress-group > div.progress:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        div.progress > div.progress-time:first-child {
            border-left: none;
            border-right: solid 1px #e5e5e5;
        }

        div.progress > div.progress-time:last-child {
            border-left: solid 1px #e5e5e5;
            border-right: none;
        }

        div.progress-time {
            border-left: solid 1px #e5e5e5;
            border-right: solid 1px #e5e5e5;
        }

        div.progress-bar.progress-bar-transparent {
            background: #ffffff !important;
        }


        div.schedule-info {
            height: 0 !important;
            overflow: hidden;
            transition: all 500ms;
            -webkit-transition: all 500ms;
            -moz-transition: all 500ms;
            -o-transition: all 500ms;
        }
        div.schedule-info:target {
            height: 400px !important;
        }
        table#planning td, table#planning th {
            width: {{ column_width }}%;
            max-width: {{ column_width }}%;
            min-width: {{ column_width }}%;
        }

    </style>

{% endblock %}