<div class="schedule-info" id="schedule-{{ schedule.id }}" >
    <div class="well well-sm">

        <a href="#" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>

        <h3>{{ schedule.course.name }} - {{ schedule.room.site.name }}, {{ schedule.room.name }}
            <small>{{ schedule.datetime|date('d/m/Y H\\hi') }} &rarr; {{ schedule.endDatetime|date('H\\hi') }}</small>
        </h3>
        <h4>Promo {{ schedule.promotion.name }} <small> - Intervenant : {{ schedule.course.teachers[0].fullname|default("") }}</small>
            <a class="pull-right btn btn-xs btn-info" href="#promo-{{ schedule.promotion.id }}-{{ schedule.datetime|date('d') }}">Voir le planning de la promotion </a>
        </h4>
        <div class="row">
            <dl class="dl-horizontal col-sm-6">
                <dt>Description</dt>
                <dd>{{ schedule.course.description }}</dd>
                <dd>{{ 'Plus d\'infos : '~ schedule.course.descriptionLink|default('Non défini')|raw }}</dd>
            </dl>

            <dl class="dl-horizontal col-sm-6">
                <dt>Liens supplémentaires</dt>
                {% for link in schedule.course.variousLinks|default(['<i>Aucun lien</i>']) %}
                <dd>{{ link|raw }}</dd>
                {% endfor %}
            </dl>
        </div>
    </div>
</div>