{% extends 'PlanningBundle:User:_layout_user.html.twig' %}

{% block main %}

<fieldset>
    <legend>Liste des groupes <small class="pull-right"><a href="{{ path('group_add') }}" class="btn btn-xs btn-default">Ajouter un groupe</a></small></legend>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Nombre d'utilisateurs</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.id}}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.users|length }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-default btn-xs" href="{{ path('group_show', {group:group.nameCanonical}) }}">Afficher</a>
                        <a class="btn btn-info btn-xs" href="{{ path('group_edit', {group:group.nameCanonical}) }}">Editer</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            {% for i in range(0, nbPages) %}
                <li {% if i == offset %}class="active"{% endif %}><a href="{{ path('user_list', {offset: i}) }}">{% if i != 0 and i != offset %}{{ i }}{% elseif i == 0  %}&laquo;{% elseif i == offset %}&raquo;{% endif %}</a></li>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}

