{% extends 'PlanningBundle:Student:_layout_student.html.twig' %}

{% block main %}
    <div class="col-xs-12">
        <dl class="dl-horizontal">
            <dt>Répartition</dt>
            <dd>{{ students|length }} élève(s) dans {{ promos|length }} promotion(s)</dd>

            {% for promo in promos %}
                <dt>{{ 'Promo ' ~ promo.name }} </dt>
                <dd>{{ promo.grade.name|default('') }}  </dd>
                <dt><div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-default btn-xs" href="{{ path("show_promo",{id : promo.id}) }}">Afficher</a>
                        <a class="btn btn-info btn-xs" href="{{ path("edit_promo",{id : promo.id}) }}">Editer</a>
                    </div></dt>
                <dd>
                    {{ promo.dateStart|date('Y') ~ " - " ~ promo.dateEnd|date('Y') }}
                </dd>
            {% endfor %}

        </dl>



        <fieldset>
            <legend>Liste des promotions <small class="pull-right"><a class="btn btn-xs btn-default" href="{{ path("add_promo") }}">Ajouter une promotion</a></small></legend>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Etudiants</th>
                    <th>Couleur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for promo in promos %}
                    <tr>
                        <td>{{ promo.name }}</td>
                        <td>{{ promo.dateStart|date('Y') ~ " - " ~ promo.dateEnd|date('Y') }}</td>
                        <td>{{ promo.students|length }}</td>
                        <td><div class="badge" style="background-color: {{ promo.color }}">&nbsp;</div></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-default btn-xs" href="{{ path("show_promo",{id : promo.id}) }}">Afficher</a>
                                <a class="btn btn-info btn-xs" href="{{ path("edit_promo",{id : promo.id}) }}">Editer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
{% endblock %}