{% extends 'PlanningBundle:Student:_layout_student.html.twig' %}

{% block main %}

    <h1>Liste des formations <span class="pull-right"> <a class="btn btn-primary btn-xs" href="{{ path("add_grade")  }}">Ajouter une formation</a></span></h1>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Nom court</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <th>{{ grade.id }}</th>
                <td>{{ grade.name }}</td>
                <td>{{ grade.shortcut }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-primary btn-xs" href="{{ path("edit_grade",{ id : grade.id })  }}">Editer</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}

