{% extends 'PlanningBundle:Student:_layout_student.html.twig' %}

{% block main %}

    <fieldset>
        <legend>Liste des étudiants <small class="pull-right"><a href="{{ path('add_student') }}" class="btn btn-xs btn-default">Ajouter un étudiant</a></small></legend>
        <table class="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Identifiant</th>
                <th>Email</th>
                <th>Groupes</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr {% if student.locked %} class="bg-warning" {% else %} class="bg-success" {% endif %}>
                    <td>

                        {% if student.promotion is defined %}Elève
                        {% elseif student.students is defined %}Tuteur
                        {% elseif student.courses is defined %}Professeur
                        {% else %}Staff
                        {% endif %}

                    </td>
                    <td>{{ student.username }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.groupNames|join }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-default btn-xs" href="{{ path('show_student', {id:student.id}) }}">Afficher</a>
                            <a class="btn btn-info btn-xs" href="{{ path('edit_student', {id:student.id}) }}">Editer</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                {% for i in range(0, nbPages) %}
                <li {% if i == offset %}class="active"{% endif %}><a href="{{ path('student_list', {offset: i}) }}">{% if i != 0 and i != offset %}{{ i }}{% elseif i == 0  %}&laquo;{% elseif i == offset %}&raquo;{% endif %}</a></li>
                {% endfor %}
            </ul>
        </nav>


    </fieldset>

{% endblock %}

