{% extends "PlanningBundle::layout.html.twig" %}

{% block title %}PlanningBundle:Location:courseList{% endblock %}

{% block content %}
    <h1>Liste des cours<small> <a class="btn btn-primary" href="{{ path("add_course")  }}">Ajouter un cours</a></small></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom du cours</th>
            <th>Professeur</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.teacherNames|join }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-primary btn-xs" href="{{ path("course",{id:course.id})  }}">Afficher</a>
                        <a class="btn btn-info btn-xs" href="{{ path('edit_course', {id:course.id})  }}">Editer</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
